 #outer{
        width: 775px;
        height: 775px;
        margin: 25px auto;
        background:#DDDDDD;
        text-align: center;
        line-height: 60px;
       
        font-size: 50px;
        padding: 10px 10px;
        box-shadow:0px 0px 10px black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        box-sizing: border-box;

      }
      .box{
        width: 750px;
        height: 300px;
      }
      .home{
        width: 300px;
        height:300px; 
        float:left;
        padding: 50px 50px;
         border: 1px solid black;
         box-sizing: border-box;
      }
      #a1,#a1 .row .b{
        background-color: blue;
        
      }
       #a2,#a2 .row .b{
        background-color: red;
      }
       #a4,#a4 .row .b{
        background-color: yellow;
      }
       #a3,#a3 .row .b{
        background-color:green;
      }
     
      .row{
        width: 200px;
        height: 100px; 
       border: 2px solid black;
         box-sizing: border-box;
        background: #DDDDDD;
        border-bottom: none;
      }
      .b{
        width: 50px;
        height: 50px;
        border: 2px solid black;
        box-sizing: border-box;
        float: left;
        margin: 23px 23px;
       

      }
       .col{
        width: 150px;
        height: 300px;
        float: left;
        
      }
      .col .c1{
        width: 50px;
        height: 300px;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
        border-left: none;
      }
       .bc,.bc1,.bc4,.bc2,.bc3{
        width: 50px;
        height: 50px;
        border: 1px solid black;
        box-sizing: border-box;
      }
      .bc1{
        background: red;
        
      }
       .bc3{
        background: green;
      }
       .bc2{
        background: blue;
      }
       .bc4{
        background: yellow;
      }
      
      .ctr{
        height: 150px;
        width:150px;
        background:aqua;
        float: left;
        box-sizing: border-box;
        border-top: 75px solid red;
        border-right: 75px solid yellow;
        border-bottom: 75px solid green;
        border-left: 75px solid blue;
        box-shadow: 0px 0px 2px  inset black;

      }
      .s{
        width: 300px;
        height: 150px;
        float: left;
      }

      
      .m{
        height: 150px;
        width: 750px;
      }
      .s .c1{
        width: 300px;
        height: 50px;
      }
      .s .c1 .bc,.bc2,.bc4{
        float: left;
        
        box-sizing: border-box;
      }